@import ".././../theme.scss";

.crop-container {
  .MuiPaper-root {
    border-radius: 10px !important;
  }

  .dialog-title {
    font-size: $font-size-body;
    color: $primary-color;
    font-weight: bold;
  }

  .close-icon {
    color: red;
  }

  .avater-image {
    width: 50px;
    height: 50px;
  }

  .dialog-content {
    background: #f8f8f8;
    position: relative;
    height: 500px;
    width: auto;
  }
}
